button {
    margin-top: 20px;
    background-color: #97f7cc;
	color: red;
	font-size: 18px;
	font-family: monospace;
    border-color: red;
    border-width: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}